.swiper-wrapper {
	align-items: center;
}

.swiper-slide {
	flex-direction: column;
}

.swiper-slide-active #active-text {
	display: flex;
}

.swiper-slide-active img {
	width: 99%;
	--tw-brightness: none;
}

.swiper-pagination {
	position: relative;
}

.swiper-pagination-horizontal {
	bottom: 0 !important;
}

.swiper-pagination-bullet {
	background-color: #6b7280;
}

.swiper-pagination-bullet-active {
	background-color: #6366f1;
}
