input {
	background-color: transparent;
}

#page {
	max-width: 1280px;
	min-width: 320px;
	width: calc(100vw - 200px);
	margin: 0 auto;
	background-color: #ffffff;
	outline: none;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	aspect-ratio: 1 / 1.414;
}

.tmp_64e0a6766acb0ae15dfbdfe1 {
	display: flex;
	flex-direction: column;
	font-family: "Roboto";
	text-align: left;
	.personal_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.name_role {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-transform: uppercase;
			.fullname {
				font-weight: 700;
				cursor: pointer;
				color: #1e3a8a;
			}
			.role {
				font-weight: 500;
				color: #1e3a8a;
				cursor: pointer;
			}
			.edit_root {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: center;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.edit_input {
					text-transform: uppercase;
					font-weight: 700;
					color: #1e3a8a;
					outline: none;
					caret-color: #1e3a8a;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
		}
		.socials {
			display: flex;
			justify-content: center;
			.socials_item {
				display: flex;
				align-items: center;
				list-style-type: none;
				.social_icons {
					width: 1rem;
					height: 1rem;
					color: #414141;
				}
				.socials_normal {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: center;
					cursor: pointer;
					.socials_normal_item {
						display: flex;
						flex-direction: row;
						align-items: center;
						cursor: pointer;
						white-space: normal;
					}
					.socials_normal_item:first-child {
						padding-left: 0;
					}
					.socials_normal_item:last-child {
						padding-right: 0;
					}
				}
				.socials_edit_root {
					position: relative;
					display: flex;
					flex-direction: column;
					box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
					--tw-ring-color: rgb(0 0 0 / 0.3);
					.socials_edit_fields {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						.edit_actions {
							position: absolute;
							display: flex;
							flex-direction: row;
							background-color: #ffffff;
							.edit_icon {
								color: #f43f5e;
								cursor: pointer;
							}
						}
						.socials_edit_item {
							position: relative;
							display: flex;
							flex-direction: row;
							align-items: center;
							border-width: 2px;
							border-color: rgb(209 213 219);
							.edit_label {
								position: absolute;
								letter-spacing: 0.025em;
								background-color: #ffffff;
								color: #9ca3af;
								left: 2;
								padding: 0 2px;
							}
							.edit_input {
								outline: none;
								caret-color: #1e3a8a;
							}
							.edit_select {
								outline: none;
								background-color: transparent;

								-moz-appearance: none; /* Firefox */
								-webkit-appearance: none; /* Safari and Chrome */
								appearance: none;
							}
							.edit_value_close {
								position: absolute;
								letter-spacing: 0.025em;
								background-color: #ffffff;
								color: #9ca3af;
								right: 0;
								cursor: pointer;
							}
						}
					}
					.socials_edit_add {
						display: flex;
						flex-direction: row;
						.add_field {
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
	}

	.objective_section {
		display: flex;
		flex-direction: column;
		.header_title {
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			font-weight: 600;
			text-transform: uppercase;
			color: #1e3a8a;
			.header_line {
				display: none;
			}
		}
		.skills {
			.skills_view {
				cursor: pointer;
				.skills_content {
					display: table;
					table-layout: fixed;
					border-collapse: separate;
					white-space: nowrap;
					.skills_content_item {
						display: table-row;
						.skills_labels {
							display: table-cell;
							text-transform: uppercase;
							font-weight: 600;
							color: #414141;
						}
						.skills_values {
							display: table-cell;
							text-wrap: wrap;
						}
					}
				}
			}
			.skills_edit {
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ffffff;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.header_title {
					.editInput {
						text-transform: uppercase;
						border-bottom-width: 2px;
						border-color: rgb(209 213 219);
					}
				}
				.skills_content {
					display: table;
					table-layout: fixed;
					border-collapse: separate;
					white-space: nowrap;
					.skills_content_item {
						display: table-row;
						.skills_value_cell {
							display: table-cell;
							.skills_label_value {
								text-transform: uppercase;
								font-weight: 600;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
						}
						.skills_content_cell {
							display: table-cell;
							min-width: 20rem;
							.skills_content_values {
								display: flex;
								flex-direction: row;
								flex-flow: wrap;
								align-items: center;
								width: fit-content;
								.edit_value_close {
									position: absolute;
									letter-spacing: 0.025em;
									background-color: #ffffff;
									color: #9ca3af;
									right: 0;
									cursor: pointer;
								}
								.skills_value {
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
								.skills_value_add {
									display: inline-flex;
									cursor: pointer;
								}
							}
						}
					}
				}
				.skills_add {
					cursor: pointer;
				}
				.drag_icon {
					position: absolute;
					background-color: #ffffff;
					color: #f43f5e;
					cursor: pointer;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
		}
		.experience {
			.experience_view {
				cursor: pointer;
				.experience_content {
					display: flex;
					flex-direction: column;
					.experience_content_item {
						display: flex;
						flex-direction: column;
						.experience_titles {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.experience_titles_left {
								display: flex;
								flex-direction: column;
							}
							.experience_titles_right {
								display: flex;
								flex-direction: column;
								align-items: end;
							}
							.experience_role {
								color: #414141;
								text-transform: uppercase;
								font-weight: 600;
							}
							.experience_company {
								color: #656565;
								text-transform: uppercase;
								font-weight: 500;
							}
							.experience_location {
								color: #414141;
								font-style: italic;
							}
							.experience_period {
								color: #656565;
								font-style: italic;
							}
						}
						.experience_description {
							list-style-type: disc;
							list-style-position: outside;
						}
					}
				}
			}
			.experience_edit {
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ffffff;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.header_title {
					.editInput {
						text-transform: uppercase;
						border-bottom-width: 2px;
						border-color: rgb(209 213 219);
					}
				}
				.experience_content {
					display: flex;
					flex-direction: column;
					.experience_content_item {
						display: flex;
						flex-direction: column;
						box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
						--tw-ring-color: rgb(0 0 0 / 0.05);
						.experience_titles {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.experience_titles_left {
								display: flex;
								flex-direction: column;
							}
							.experience_titles_right {
								display: flex;
								flex-direction: column;
								align-items: end;
							}
							.experience_role {
								color: #414141;
								font-weight: 600;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
							.experience_company {
								color: #656565;
								font-weight: 600;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
							.experience_location {
								color: #656565;
								font-style: italic;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
							.experience_period {
								display: flex;
								flex-direction: row;
								align-items: center;
								.experience_period_from {
									color: #656565;
									font-style: italic;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
								.experience_period_to {
									color: #656565;
									font-style: italic;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
							}
						}
						.experience_description {
							display: flex;
							flex-direction: column;
							list-style-type: disc;
							list-style-position: outside;
							.exp_value_root {
								display: flex;
								.exp_value {
									width: 100%;
									color: #656565;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
							}
							.exp_value_add {
								display: inline-flex;
								cursor: pointer;
							}
						}
					}
				}
				.drag_icon {
					position: absolute;
					background-color: #ffffff;
					color: #f43f5e;
					cursor: pointer;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
			.experience_add {
				cursor: pointer;
			}
		}
		.projects {
			.projects_view {
				cursor: pointer;
				.project_content {
					display: flex;
					flex-direction: column;
					.project_content_item {
						display: flex;
						flex-direction: column;
						.project_titles {
							display: flex;
							flex-direction: column;
							.project_name {
								color: #414141;
								font-weight: 600;
							}
							.project_links {
								color: #656565;
							}
						}
					}
				}
			}
			.projects_edit {
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ffffff;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.header_title {
					.editInput {
						text-transform: uppercase;
						border-bottom-width: 2px;
						border-color: rgb(209 213 219);
					}
				}
				.project_content {
					display: flex;
					flex-direction: column;
					.project_content_item {
						display: flex;
						flex-direction: column;
						box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
						--tw-ring-color: rgb(0 0 0 / 0.05);
						.project_titles {
							display: flex;
							flex-direction: column;
							.project_name {
								color: #414141;
								font-weight: 600;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
							.project_links {
								display: flex;
								flex-direction: row;
								.link {
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
							}
						}
						.project_description {
							display: flex;
							flex-direction: column;
							list-style-type: disc;
							list-style-position: outside;
							.proj_value {
								color: #656565;
								border-width: 2px;
								border-color: rgb(209 213 219);
								outline: none;
							}
							.proj_value_add {
								display: inline-flex;
								height: 1rem;
								width: 1rem;
								cursor: pointer;
							}
						}
					}
				}
				.drag_icon {
					position: absolute;
					background-color: #ffffff;
					color: #f43f5e;
					cursor: pointer;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
			.projects_add {
				cursor: pointer;
			}
		}
		.education {
			.education_view {
				cursor: pointer;
				.education_content {
					display: flex;
					flex-direction: column;
					.education_content_item {
						display: flex;
						flex-direction: column;
						.education_titles {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.education_titles_left {
								display: flex;
								flex-direction: column;
							}
							.education_titles_right {
								display: flex;
								flex-direction: column;
								align-items: end;
							}
						}
						.education_course {
							color: #414141;
							font-weight: 600;
						}
						.education_institute {
							color: #656565;
						}
						.education_grade {
						}
						.education_location {
							color: #656565;
							font-style: italic;
						}
						.education_period {
							color: #656565;
							font-style: italic;
						}
					}
				}
			}
			.education_edit {
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ffffff;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.header_title {
					.editInput {
						text-transform: uppercase;
						border-bottom-width: 2px;
						border-color: rgb(209 213 219);
					}
				}
				.education_content {
					display: flex;
					flex-direction: column;
					.education_content_item {
						display: flex;
						flex-direction: column;
						box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
						--tw-ring-color: rgb(0 0 0 / 0.05);
						.education_titles {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.education_titles_left {
								display: flex;
								flex-direction: column;
								.education_course {
									color: #414141;
									font-weight: 600;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
								.education_institute {
									color: #656565;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
								.education_grade {
									color: #656565;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
							}
							.education_titles_right {
								display: flex;
								flex-direction: column;
								align-items: end;
								.education_location {
									color: #656565;
									font-style: italic;
									border-width: 2px;
									border-color: rgb(209 213 219);
									outline: none;
								}
								.education_period {
									display: flex;
									flex-direction: row;
									align-items: center;
									.education_period_from {
										color: #656565;
										font-style: italic;
										border-width: 2px;
										border-color: rgb(209 213 219);
										outline: none;
									}
									.education_period_to {
										color: #656565;
										font-style: italic;
										border-width: 2px;
										border-color: rgb(209 213 219);
										outline: none;
									}
								}
							}
						}
					}
				}
				.drag_icon {
					position: absolute;
					background-color: #ffffff;
					color: #f43f5e;
					cursor: pointer;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
			.education_add {
				cursor: pointer;
			}
		}
		.achievements {
			.achievements_view {
				cursor: pointer;
				.achievements_content {
					display: flex;
					flex-direction: column;
					.achievements_content_item {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.achievements_item {
							color: #414141;
						}
						.achievements_period {
							color: #656565;
							font-style: italic;
						}
					}
				}
			}
			.achievements_edit {
				position: relative;
				display: flex;
				flex-direction: column;
				background-color: #ffffff;
				box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
				--tw-ring-color: rgb(0 0 0 / 0.3);
				.header_title {
					.editInput {
						text-transform: uppercase;
						border-bottom-width: 2px;
						border-color: rgb(209 213 219);
					}
				}
				.achievements_content {
					display: flex;
					flex-direction: column;
					.achievements_content_item {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						.achievements_item {
							color: #414141;
							border-width: 2px;
							border-color: rgb(209 213 219);
							outline: none;
						}
						.achievements_period {
							color: #656565;
							font-style: italic;
							border-width: 2px;
							border-color: rgb(209 213 219);
							outline: none;
						}
					}
				}
				.achievements_add {
					cursor: pointer;
				}
				.drag_icon {
					position: absolute;
					background-color: #ffffff;
					color: #f43f5e;
					cursor: pointer;
				}
				.edit_actions {
					position: absolute;
					display: flex;
					flex-direction: row;
					background-color: #ffffff;
					.edit_icon {
						color: #f43f5e;
						cursor: pointer;
					}
				}
			}
		}
	}
}
