input {
	background-color: transparent;
}

.tmp_64e0a6766acb0ae15dfbdfe1 {
	max-width: 900px;
	@apply flex flex-col gap-5 font-roboto text-left;
	.personal_section {
		@apply flex flex-col gap-1 items-center text-center;
		.name_role {
			@apply flex flex-col gap-1 items-center;
			.fullname {
				@apply font-bold;
			}
			.role {
			}
		}
		.socials {
			@apply flex flex-wrap gap-1 justify-center divide-x-2 divide-gray-700;
			/* flex-flow: wrap; */
			.socials_item {
				@apply flex items-center gap-1 list-none whitespace-nowrap px-5 first:pl-0 last:pr-0;
				.social_icons {
					color: #414141;
					@apply w-4 h-4;
				}
			}
		}
	}

	.objective_section {
		@apply flex flex-col gap-5;
		.header_title {
			@apply flex flex-row gap-1 place-items-end whitespace-nowrap font-bold mb-1;
			.header_line {
				@apply w-full border border-black;
				width: 100%;
			}
		}
		.skills {
			.skills_view {
				.skills_content {
					@apply table table-fixed border-separate border-spacing-y-1.5 whitespace-nowrap;
					.skills_content_item {
						@apply table-row gap-4;
						max-width: 50%;
						.skills_labels {
							color: #414141;
							@apply table-cell font-semibold pr-3;
						}
						.skills_values {
							@apply table-cell;
						}
					}
				}
			}
			.skills_edit {
				@apply bg-slate-100 shadow-md p-2 rounded-md;
				.skills_content {
					@apply table table-fixed border-separate border-spacing-x-2 whitespace-nowrap;
					.skills_content_item {
						@apply table-row gap-4;
						max-width: 50%;
						.skills_label_edit {
							color: #414141;
							@apply table-cell font-semibold text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
						}
						.skills_content_values {
							@apply table-cell;
							.skills_value {
								@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.skills_value_add {
								@apply h-4 w-4 inline-flex ml-1 cursor-pointer;
							}
						}
					}
				}
				.skills_add {
					@apply h-6 w-6 cursor-pointer;
				}
			}
		}
		.experience {
			.experience_view {
				.experience_content {
					@apply flex flex-col gap-2 py-1;
					.experience_content_item {
						@apply flex flex-col gap-1;
						.experience_titles {
							@apply flex flex-row justify-between;
							.experience_titles_left {
								@apply flex flex-col gap-0.5;
							}
							.experience_titles_right {
								@apply flex flex-col gap-0.5;
							}
							.experience_role {
								color: #414141;
								@apply font-semibold;
							}
							.experience_company {
								color: #656565;
							}
							.experience_location {
								color: #656565;
								@apply italic;
							}
							.experience_period {
								color: #656565;
								@apply italic;
							}
						}
					}
				}
			}
			.experience_edit {
				@apply bg-slate-100 shadow-md p-2 rounded-md;
				.experience_content {
					@apply flex flex-col gap-2;
					.experience_content_item {
						@apply p-2 rounded-md shadow-md border border-slate-200;
						.experience_titles {
							@apply flex flex-row justify-between;
							.experience_titles_left {
								@apply flex flex-col gap-0.5;
							}
							.experience_titles_right {
								@apply flex flex-col gap-0.5;
							}
							.experience_role {
								color: #414141;
								@apply font-semibold text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.experience_company {
								color: #656565;
								@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.experience_location {
								color: #656565;
								@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.experience_period {
								@apply flex flex-row gap-2;
								.experience_period_from {
									color: #656565;
									@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
								.experience_period_to {
									color: #656565;
									@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
							}
						}
						.experience_description {
							.exp_value {
								color: #656565;
								@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.exp_value_add {
								@apply h-4 w-4 inline-flex ml-1 cursor-pointer;
							}
						}
					}
				}
			}
			.experience_add {
				@apply h-6 w-6 cursor-pointer;
			}
		}
		.projects {
			.projects_view {
				.project_content {
					@apply flex flex-col gap-2 py-1;
					.project_content_item {
						@apply flex flex-col gap-2;
						.project_titles {
							@apply flex flex-col gap-0.5;
							.project_name {
								color: #414141;
								@apply font-semibold;
							}
							.project_links {
								color: #656565;
							}
						}
					}
				}
			}
			.projects_edit {
				@apply bg-slate-100 shadow-md p-2 rounded-md;
				.project_content {
					@apply flex flex-col gap-2 py-1;
					.project_content_item {
						@apply flex flex-col p-2 rounded-md shadow-md border border-slate-200;
						.project_titles {
							@apply flex flex-col gap-0.5;
							.project_name {
								color: #414141;
								@apply font-semibold text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.project_links {
								@apply flex flex-row gap-2;
								.project_link {
									@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
							}
						}
						.project_description {
							.proj_value {
								color: #656565;
								@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
							}
							.proj_value_add {
								@apply h-4 w-4 inline-flex ml-1 cursor-pointer;
							}
						}
					}
				}
			}
			.projects_add {
				@apply h-6 w-6 cursor-pointer;
			}
		}
		.education {
			.education_view {
				.education_content {
					@apply flex flex-col gap-2 py-1;
					.education_content_item {
						@apply flex flex-col gap-1;
						.education_titles {
							@apply flex flex-row justify-between;
							.education_titles_left {
								@apply flex flex-col gap-0.5;
							}
							.education_titles_right {
								@apply flex flex-col gap-0.5;
							}
						}
						.education_course {
							color: #414141;
							@apply font-semibold;
						}
						.education_institute {
							color: #656565;
						}
						.education_grade {
						}
						.education_location {
							color: #656565;
							@apply italic;
						}
						.education_period {
							color: #656565;
							@apply italic;
						}
					}
				}
			}
			.education_edit {
				@apply bg-slate-100 shadow-md p-2 rounded-md;
				.education_content {
					@apply flex flex-col gap-2 py-1;
					.education_content_item {
						@apply flex flex-col gap-2 p-2 rounded-md shadow-md border border-slate-200;
						.education_titles {
							@apply flex flex-row justify-between;
							.education_titles_left {
								@apply flex flex-col gap-0.5;
								.education_course {
									color: #414141;
									@apply font-semibold text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
								.education_institute {
									color: #656565;
									@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
								.education_grade {
									@apply text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
							}
							.education_titles_right {
								@apply flex flex-col gap-0.5;
								.education_location {
									color: #656565;
									@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
								}
								.education_period {
									@apply flex flex-row gap-2;
									.education_period_from {
										color: #656565;
										@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
									}
									.education_period_to {
										color: #656565;
										@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
									}
								}
							}
						}
					}
				}
			}
			.education_add {
				@apply h-6 w-6 cursor-pointer;
			}
		}
		.achievements {
			.achievements_view {
				.achievements_content {
					@apply flex flex-col gap-2 py-1;
					.achievements_content_item {
						@apply flex flex-row justify-between;
						.achievements_item {
							color: #414141;
							@apply font-semibold;
						}
						.achievements_period {
							color: #656565;
							@apply italic;
						}
					}
				}
			}
			.achievements_edit {
				@apply bg-slate-100 shadow-md p-2 rounded-md;
				.achievements_content {
					@apply flex flex-col gap-1 py-1;
					.achievements_content_item {
						@apply flex flex-row justify-between;
						.achievements_item {
							color: #414141;
							@apply font-semibold text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
						}
						.achievements_period {
							color: #656565;
							@apply italic text-center p-0.5 border border-solid border-rose-400 outline-none rounded-md;
						}
					}
				}
			}
			.achievements_add {
				@apply h-6 w-6 cursor-pointer;
			}
		}
	}
	.editSelect {
		@apply w-[3rem] p-0.5 border border-solid border-rose-400 outline-none font-bold rounded-md;
	}
	.editInput {
		@apply text-center p-0.5 border border-solid border-rose-400 outline-none font-bold rounded-md;
	}
}
