@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

:root {
	--containerHeight: calc(100vh - 50px);
	--containerPadding: 1rem 1rem 0;
	--scrollbarWidth: 0.9em;
	--scrollbarShadow: inset 0 0 6px rgba(0, 0, 0, 0);
	--editorWidth: calc(100vw - 200px);
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
	margin: 0;
	width: fit-content;
	line-height: normal;
}

input,
textarea {
	background: transparent;
}

.containerBox {
	min-height: var(--containerHeight);
	padding: var(--containerPadding);
}

@layer utilities {
	.light .scrollbar::-webkit-scrollbar {
		width: var(--scrollbarWidth);
	}

	.light .scrollbar::-webkit-scrollbar-track {
		box-shadow: var(--scrollbarShadow);
		-webkit-box-shadow: var(--scrollbarShadow);
		background-color: #94a3b8;
	}

	.light .scrollbar::-webkit-scrollbar-thumb {
		border-radius: 10px;
		/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
		background-color: #f3f4f6;
		border-top: 3px solid #94a3b8;
		border-left: 3px solid #94a3b8;
	}

	.light .scrollbar::-webkit-scrollbar-thumb:hover {
		background: #e5e7eb;
	}

	.dark .scrollbar::-webkit-scrollbar {
		width: var(--scrollbarWidth);
	}

	.dark .scrollbar::-webkit-scrollbar-track {
		box-shadow: var(--scrollbarShadow);
		background-color: #525252;
	}

	.dark .scrollbar::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #171717;
		border-top: 3px solid #525252;
		border-left: 3px solid #525252;
	}

	.dark .scrollbar::-webkit-scrollbar-thumb:hover {
		background: #525252;
	}
}